
#barra-contacto {
	-fx-background-color: #9b949b;
}

#bye {
    -fx-font-size: 60pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #04047b;
    -fx-opacity: 1;
}

#centro {
	-fx-background-color: linear-gradient(to bottom, #F4F4F4, white);
}

#herramientas {
	-fx-padding: 15 0 15 15;
	-fx-spacing: 20;
}

#intro-app {
	-fx-alignment: center;
	-fx-pref-height: 80px;
}

#logo-aca {
	-fx-font: 30px Tahoma;
	-fx-text-fill: white;
	-fx-background-color: #757575;
	-fx-pref-width: 300px;
	-fx-pref-height: 80px;
	-fx-alignment: center;
}

#titulo-opcion {
	-fx-alignment: center;
	-fx-background-color: #e4051f;
	-fx-text-fill: white;
	-fx-font-size: 20px;
}

.crud-button {
	-fx-background-color: transparent;
	-fx-border-radius: 30;
	-fx-border-color: #e4051f;
	-fx-border-width: 3;
}

.crud-button:hover {
	-fx-background-color: linear-gradient(#e4051f, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.crud-button:pressed {
	-fx-background-color: linear-gradient(#be1d00, #e4051f);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.detalle {
	-fx-hgap: 10px;
	-fx-vgap: 10px;
	-fx-background-size: 400px 200px;
	-fx-alignment: center;
}

.error-msg {
	-fx-text-fill: red;
}


.hbox {
    -fx-padding: 15;
    -fx-spacing: 10;
}

.vbox {
    -fx-background-color: #757575;
    -fx-pref-width: 300;
    -fx-pref-height: 600;    
    -fx-padding: 100px 0 0 0;
}

.vbox Button {
	-fx-pref-width:300;
	-fx-pref-height:200;
	-fx-background-color: #757575;
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-alignment: center-left;
	-fx-padding: 0 0 0 50px;
}

.vbox Button:hover {
	-fx-background-color: white;
	-fx-text-fill: red;
}

.vbox Button:pressed {
	-fx-background-color: #e4051f;
	-fx-text-fill: white;
}








